<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      xmlns:width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">

<nav  class="navbar navbar-expand-lg" style="background-color: #bdc3c7;">
  <a  class="navbar-brand" style="color: #1f618d;" href="/home/ong">Home ONG</a>

  <button  class="navbar-toggler"  type="button"  data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent"  aria-expanded="false"  aria-label="Toggle navigation">
    <!--    <span  class="navbar-toggler-icon"></span>-->
    <i class="fa fa-bars" style="color: #1f618d"></i>
  </button>
  <div  class="collapse navbar-collapse"  id="navbarSupportedContent">
    <ul  class="navbar-nav mr-auto">
      <li  class="nav-item active">
        <a  class="nav-link"  href="/home/ong2">Home <span  class="sr-only">(current)</span></a>
      </li>
      <li  class="nav-item active">
        <a  class="nav-link"  href="/voluntari2">Voluntari</a>
      </li>
      <li>
        <a class="nav-link"  href="/cazuri/{{ong.id}}" (click)="showDiv(1)">Cazuri sociale
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropd-content" *ngIf="divId == 1" style="background-color: #bdc3c7">
          <a href="/cazuri/{{ong.id}}" style="color: white;">Inregistrate</a>
          <a href="/cazuri/{{ong.id}}" (click) = "setShow();" style="color: white;" >In asteptare</a>
        </div>

      </li>
      <li  class="nav-item active">
        <a  class="nav-link"  href="/login/ong2">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content" *ngIf="ok == true">
  <table id="table">
    <tr>
      <th>{{'Nume'}}</th>
      <th>{{'Prenume'}}</th>
      <th>{{'Detalii'}}</th>
    </tr>

    <tr>
      <td>{{'Pavel'}}</td>
      <td>{{'Rares'}}</td>
      <td><button id="btn1" style ="width: 40%; height: 70%; margin-left: 30%;" type="button" class="btn btn-xs btn-default" (click)="openDetails(1)">
        <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      </td>
    </tr>

    <tr>
      <td>{{'Cristea'}}</td>
      <td>{{'Luminita'}}</td>
      <td ><button id="btn2" style ="width: 40%; height: 70%; margin-left: 30%;" type="button" class="btn btn-xs btn-default" (click)="openDetails(2)">
        <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      </td>
    </tr>

    <tr>
      <td>{{'Pasca'}}</td>
      <td>{{'Cosmin'}}</td>
      <td ><button id="btn3" style ="width: 40%; height: 70%; margin-left: 30%;" type="button" class="btn btn-xs btn-default" (click)="openDetails(3)">
        <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      </td>
    </tr>

    <tr>
      <td>{{'Vaida'}}</td>
      <td>{{'Alexandra'}}</td>
      <td ><button id="btn4" style ="width: 40%; height: 70%; margin-left: 30%;" type="button" class="btn btn-xs btn-default" (click)="openDetails(4)">
        <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      </td>
    </tr>

    <tr>
      <td>{{'Rotar'}}</td>
      <td>{{'Alin'}}</td>
      <td ><button id="btn5" style ="width: 40%; height: 70%; margin-left: 30%;" type="button" class="btn btn-xs btn-default" (click)="openDetails(5)">
        <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      </td>
    </tr>

    <tr>
      <td>{{'Cipleu'}}</td>
      <td>{{'Denis'}}</td>
      <td ><button id="btn6" style ="width: 40%; height: 70%; margin-left: 30%;" type="button" class="btn btn-xs btn-default" (click)="openDetails(6)">
        <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      </td>
    </tr>

    <tr>
      <td>{{'Morar'}}</td>
      <td>{{'Claudia'}}</td>
      <td ><button id="btn7" style ="width: 40%; height: 70%; margin-left: 30%;" type="button" class="btn btn-xs btn-default" (click)="openDetails(7)">
        <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      </td>
    </tr>
    <tr *ngIf="voluntar == 1 ">
      <td>{{'Seles'}}</td>
      <td>{{'Calin'}}</td>
      <td ><button id="btn7" style ="width: 40%; height: 70%; margin-left: 30%;" type="button" class="btn btn-xs btn-default" (click)="openDetails(8)">
        <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      </td>
    </tr>
  </table>
</div>

<button style="color: transparent; background-color: transparent;" (click)="showCalin()">PRESS ME PLS</button>

<div *ngIf="nmb == 1 && ok == false">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Pavel Rares" disabled>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label" >Adresa :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. T.Vladimirescu, nr.25, bl.2, ap. 20" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="12/10/1990" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Email :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="pavel.rares@gmail.com" name="email" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0765442829" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn-back" (click)="onBack()">Inapoi la lista</button>
        </div>
      </div>
    </form>


  </div>
</div>

<div *ngIf="nmb == 2 && ok == false">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Cristea Luminita" disabled>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label" >Adresa :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Jupiter, nr.60A" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="01/06/1994" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Email :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="luminita_cristea@yahoo.com" name="email" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0792945632" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn-back" (click)="onBack()">Inapoi la lista</button>
        </div>
      </div>
    </form>


  </div>
</div>

<div *ngIf="nmb == 3 && ok == false">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Pasca Cosmin" disabled>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label" >Adresa :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Emil Isac, nr. 100" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="08/19/1995" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Email :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="pasca08cosmin@gmail.com" name="email" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0783452716" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn-back" (click)="onBack()">Inapoi la lista</button>
        </div>
      </div>
    </form>


  </div>
</div>

<div *ngIf="nmb == 4 && ok == false">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Vaida Alexandra" disabled>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label" >Adresa :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. 1 Decembrie, nr. 20, bl. 4, ap. 10" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="10/25/1993" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Email :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="vaida.alexandra@gmail.com" name="email" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0798623187" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn-back" (click)="onBack()">Inapoi la lista</button>
        </div>
      </div>
    </form>


  </div>
</div>

<div *ngIf="nmb == 5 && ok == false">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Rotar Alin" disabled>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label" >Adresa :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Ciresilor, nr. 55C" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="04/05/1997" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Email :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="rotaralin05@gmail.com" name="email" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0753672197" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn-back" (click)="onBack()">Inapoi la lista</button>
        </div>
      </div>
    </form>


  </div>
</div>

<div *ngIf="nmb == 6 && ok == false">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Cipleu Denis" disabled>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label" >Adresa :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Paris, nr. 21" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="07/17/1992" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Email :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="denis.cipleu@gmail.com" name="email" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0737269103" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn-back" (click)="onBack()">Inapoi la lista</button>
        </div>
      </div>
    </form>


  </div>
</div>

<div *ngIf="nmb == 7 && ok == false">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Morar Claudia" disabled>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label" >Adresa :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Teatrului, nr. 200B" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="09/22/1989" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Email :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="morar_claudia@gmail.com" name="email" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0753280019" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn-back" (click)="onBack()">Inapoi la lista</button>
        </div>
      </div>
    </form>


  </div>
</div>


<div *ngIf="nmb == 8 && ok == false">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Seles Calin" disabled>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label" >Adresa :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Alexandru Vlahuta, nr.5" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="01/01/1997" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Email :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="selescalin@gmail.com" name="email" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0756497078" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn-back" (click)="onBack()">Inapoi la lista</button>
        </div>
      </div>
    </form>


  </div>
</div>


