<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      xmlns:width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">

<div class="mat-nav-list">
  <ul>
    <li> <a [routerLink]="['']" class="btn- btn-link">Login</a></li>
  </ul>
</div>


<div class="login-page">
  <div class="image" >
    <img src="assets/Logo-RO-FULL-RGB-1.png" alt="image" height="230px" width="500px" >
  </div>
  <div class="form">
    <form class="login-form">
      <label style="margin-left:4%;">Email *</label>
      <input [(ngModel)]="username"  [ngModelOptions]="{standalone: true}" type="text" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required=""/>
      <div id="validEmail" *ngIf="email.errors &&( email.dirty || email.touched)">
        <div class="alert alert-danger" *ngIf="email.errors.pattern" >Email invalid!</div>
        <div class="alert alert-danger" *ngIf="email.errors.required">Camp obligatoriu</div>
      </div>
      <label style="margin-left:4%;">Parola *</label>
      <input [(ngModel)]="password"  [ngModelOptions]="{standalone: true}" type="password"  #pass="ngModel" pattern="^[a-z0-9._%+-]{5,}$"  required=""/>
      <div *ngIf="pass.errors &&( pass.dirty || pass.touched)">
        <div class="alert alert-danger" *ngIf="pass.errors.pattern" >Camp invalid! Parola trebuie sa contina cel putin 5 caractere!</div>
        <div class="alert alert-danger" *ngIf="pass.errors.required">Camp obligatoriu</div>
      </div>
      <button mat-raised-button (click)="login($event)">
        login
      </button>
    </form>
  </div>
</div>
