@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.container {
  margin-top: 60px !important;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 800px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-group{
  margin-left: 50px;
}

.input[type = text] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.alert-danger{
  margin-top: 4px !important;
  font-size: 14px !important;
  width: 78%;
  height: 40px;
  padding: 10px;
  margin-left: 15px !important;
}


.name{
  margin-top: 4px !important;
  font-size: 14px !important;
  width: 97.5% !important;
  height: 40px !important;
  padding: 10px !important;
  margin-left: 0px !important;
}

#nume, #prenume{
  margin-left: 15px;
  display: inline;
  width: 45% !important;
}

#genF, #genFCase3, #genFCase6, #genFCase7, #genM, #genMCase4, #genMCase5, #genMCase7, #f, #fCase3, #fCase6, #fCase7,
  #m, #mCase4, #mCase5, mCase7{
  display: inline;
  font-size: 17px;
  width: 50px;
}

#motiv, #motivCase3, #motivCase4, #motivCase5, #motivCase6, #motivCase7{
  height: 100px !important;
}

#dataInscrierii, #dataInscrieriiCase3, #dataInscrieriiCase4,#dataInscrieriiCase5, #dataInscrieriiCase6, #dataInscrieriiCase7,
  #efectuare, #efectuareCase3, #efectuareCase4, #efectuareCase5, #efectuareCase6, #efectuareCase7{
  display: block;
  width: 75% !important;
  margin-left: 15px;

}

.control-label{
  font-family: "Roboto", sans-serif;
  margin-left: 13px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #333972;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all;
  transition: all ;
  cursor: pointer;
}
button:hover, button:active, button:focus {
  background: #1F255E;
}

#table, #table8 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  margin-top: 2% !important;
}

#table td {
  border: 2px solid #ddd;
  padding: 8px;
}

#table8 td {
  border: 2px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even), #table8 tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover, #table8 tr:hover {
  background-color: #D1D0CE;
}

#table th, #table8 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #505050;
  color: white;
}

.margin-top {
  margin-top: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
  background-color: gray;
  color: white;
}
#btn18:hover, #btn28:hover, #btn38:hover, #btn48:hover, #btn58:hover {
  background-color: gray;
  color: white;
}

.lastCol {
  text-align: center;
}

