<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      xmlns:width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<div class="mat-nav-list">
  <ul>
    <li> <a class="btn- btn-link" (click)="logout()">Logout</a></li>
    <li> <a href="/formular/{{user.id}}" class="btn btn-link">Formular</a></li>
  </ul>
</div>


<div *ngIf=" ok == 1">
  <div *ngIf=" idUser == '1'">
<table id="table">
  <tr>
    <th>{{'Nume'}}</th>
    <th>{{'Prenume'}}</th>
    <th>{{'Detalii'}}</th>
  </tr>

  <tr *ngIf=" refuz1 == false">
    <td>{{'Pop'}}</td>
    <td>{{'Ana'}}</td>
    <td class="lastCol" ><button *ngIf=" accept1 == true" id="btn1" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(1)">
        <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      <label *ngIf=" accept1 == false && notif == false">Asteapta sa fie repartizat la {{selected1}}</label>
      <label *ngIf=" notif == true">Caz acceptat de Asociatia Inimii</label>
    </td>
  </tr>

  <tr *ngIf=" refuz2 == false">
    <td>{{'Coman'}}</td>
    <td>{{'Andrei'}}</td>
    <td class="lastCol">
<!--      <button *ngIf=" accept2 == true" id="btn2" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(2)">-->
<!--      <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>-->
      <label *ngIf=" notif == false">Asteapta sa fie repartizat la Asociatia Zambet</label>
      <label *ngIf=" notif == true">Caz acceptat de Asociatia Zambet</label>
    </td>
  </tr>

  <tr *ngIf=" refuz3 == false">
    <td>{{'Popescu'}}</td>
    <td>{{'Mihai'}}</td>
    <td class="lastCol">
<!--      <button *ngIf=" accept3 == true" id="btn3" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(3)">-->
<!--      <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>-->
      <label>Asteapta sa fie repartizat la Asociatia Zambet</label>
    </td>
  </tr>

  <tr *ngIf=" refuz4 == false">
    <td>{{'Manolescu'}}</td>
    <td>{{'Andra'}}</td>
    <td class="lastCol"><button *ngIf=" accept4 == true" id="btn4" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(4)">
      <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      <label *ngIf=" accept4 == false">Asteapta sa fie repartizat la {{selected4}}</label>
    </td>
  </tr>






  <tr *ngIf=" refuz5 == false">
    <td>{{'Coman'}}</td>
    <td>{{'Karla'}}</td>
    <td class="lastCol"><button *ngIf=" accept5 == true" id="btn2" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(6)">
      <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      <label *ngIf=" accept5 == false && notif == false">Asteapta sa fie repartizat la {{selected5}}</label>
      <label *ngIf=" notif == true">Caz acceptat de Asociatia Inimii</label>
    </td>
  </tr>

  <tr *ngIf=" refuz6 == false">
    <td>{{'Petrescu'}}</td>
    <td>{{'Andrei'}}</td>
    <td class="lastCol">
<!--      <button *ngIf=" accept6 == true" id="btn3" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(7)">-->
<!--      <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>-->
      <label>Asteapta sa fie repartizat la Asociatia Inimii</label>
    </td>
  </tr>

  <tr *ngIf=" refuz7 == false">
    <td>{{'Lazar'}}</td>
    <td>{{'Bogdan'}}</td>
    <td class="lastCol">
      <button *ngIf=" accept7 == true" id="btn4" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(8)">
      <i class="fa fa-info-circle"  style="margin-right:15px; font-size:20px;"></i> Detalii</button>
      <label *ngIf=" accept7 == false">Asteapta sa fie repartizat la {{selected7}}</label>
    </td>
  </tr>

</table>
</div>
</div>


<div *ngIf=" ok == 8 && idUser == '1'">
    <table id="table8">
      <tr>
        <th>{{'Nume'}}</th>
        <th>{{'Prenume'}}</th>
        <th>{{'Detalii'}}</th>
      </tr>

      <tr>
        <td>{{'Pop'}}</td>
        <td>{{'Ana'}}</td>
        <td ><button id="btn18" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(1)">
          <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
        </td>
      </tr>

      <tr>
        <td>{{'Coman'}}</td>
        <td>{{'Andrei'}}</td>
        <td ><button id="btn28" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(2)">
          <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
        </td>
      </tr>

      <tr>
        <td>{{'Popescu'}}</td>
        <td>{{'Mihai'}}</td>
        <td ><button id="btn38" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(3)">
          <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
        </td>
      </tr>

      <tr>
        <td>{{'Manolescu'}}</td>
        <td>{{'Andra'}}</td>
        <td ><button id="btn48" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(4)">
          <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
        </td>
      </tr>



      <tr>
        <td>{{'Coman'}}</td>
        <td>{{'Karla'}}</td>
        <td ><button id="btn28" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(6)">
          <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
        </td>
      </tr>

      <tr>
        <td>{{'Petrescu'}}</td>
        <td>{{'Andrei'}}</td>
        <td ><button id="btn38" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(7)">
          <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
        </td>
      </tr>

      <tr>
        <td>{{'Lazar'}}</td>
        <td>{{'Bogdan'}}</td>
        <td ><button id="btn48" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(8)">
          <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
        </td>
      </tr>

        <tr>
          <td>{{result.nume}}</td>
          <td>{{result.firstName}}</td>
          <td ><button id="btn58" style ="width: 100%; height: 70%" type="button" class="btn btn-xs btn-default" (click)="openModal(5)">
            <i class="fa fa-info-circle" style="margin-right:15px; font-size:20px;"></i> Detalii</button>
          </td>
        </tr>

    </table>

</div>

<div *ngIf="ok == 0">
<div  *ngIf="idUser == '2'">
<div class="container">
  <form id="formular" class="form-horizontal"  #userForm="ngForm" (ngSubmit)="submitForm()" novalidate>

    <div class="form-group">
      <label class="control-label" >Nume si Prenume * :</label>
      <div class="col-sm-10">
        <div class="row">
          <input id="nume" type="text" #nume="ngModel" minlength="3" maxlength="20" class="form-control" required ngModel placeholder="Nume"
                 name="nume"  [ngModelOptions]="{standalone: false}" >
          <input id ="prenume" type="text" #firstName="ngModel" minlength="3" maxlength="20" class="form-control" required
                 name="firstName" ngModel placeholder="Prenume" [ngModelOptions]="{standalone: false}" >
        </div>
        <div *ngIf="nume.errors && (nume.dirty || nume.touched)">
          <div class="alert alert-danger name" *ngIf="nume.errors.required">Camp obligatoriu!</div>
          <div class="alert alert-danger name" *ngIf="nume.errors.minlength">Numele trebuie sa contina mai mult de 3 caractere!</div>
        </div><div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
          <div class="alert alert-danger name" *ngIf="firstName.errors.required">Camp obligatoriu!</div>
          <div class="alert alert-danger name" *ngIf="firstName.errors.minlength">Prenumele trebuie sa contina mai mult de 3 caractere!</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" ></label>
      <div class="gen">
        <input id ="genF" type="radio" name="feminin" value ="feminin" ngModel [ngModelOptions]="{standalone: false}">
        <label id="f" for="genF">Feminin</label>
        <input id ="genM" type="radio" name="masculin" value ="masculin" ngModel >
        <label id ="m" for="genM">Masculin</label>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" >Adresa * :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" #address="ngModel" placeholder="Adresa" name="adresa" required ngModel [ngModelOptions]="{standalone: false}" >
      </div>
      <div *ngIf="address.errors && (address.dirty || address.touched)">
        <div class="alert alert-danger" *ngIf="address.errors.required">Camp obligatoriu!</div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" >Data nasterii:</label>
      <div class="col-sm-10">
        <input type="date" name="data" #dataN="ngModel" class="form-control"  ngModel >
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" >Telefon * :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" #phone="ngModel" pattern="^[0-9]{10}$" placeholder="Telefon" name="telefon" required ngModel [ngModelOptions]="{standalone: false}" >
        <div *ngIf="phone.errors && (phone.dirty || phone.dirty)">
           <div class="alert alert-danger" *ngIf="phone.errors.pattern">Numar de telefon trebuie sa contina 10 cifre!</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" >Cetatenie:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" #cetatenie="ngModel" placeholder="Cetatenie" name="cetatenie" ngModel >
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" >Motivul inscrierii * :</label>
      <div class="col-sm-10">
        <input id="motiv" type="text" #motiv="ngModel" class="form-control" placeholder="Motivul inscrierii" name="motiv" required minlength="15" ngModel [ngModelOptions]="{standalone: false}" >
      </div>
      <div *ngIf="motiv.errors && (motiv.dirty || motiv.touched)">
        <div class="alert alert-danger" *ngIf="motiv.errors.required">Camp obligatoriu!</div>
        <div class="alert alert-danger" *ngIf="motiv.errors.minlength">Textul trebuie sa fie format din minim 15 caractere!</div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
      <div class="col-sm-4">
      <label class="control-label" >Data Inscrierii:</label>
        <input id="dataInscrierii" name="inscriere"  #inscriere="ngModel"  type="date" class="form-control" ngModel required >
      </div>
        <div class="col-sm-8" style="margin: 0px;padding: 0px;">
      <label class="control-label" >Inscriere efectuata de:</label>
        <input style="width: 65% !important;" id="efectuare"  #address="ngModel" type="text" name="efectuare" class="form-control" ngModel required>
      </div>
    </div>
    </div>

    <div class="form-group">
      <label class="control-label" ></label>
       <div class="col-sm-10">
        <input id ="box" #box="ngModel" name="box" type="checkbox" ngModel required [ngModelOptions]="{standalone: false}" >
        <label style="margin-left: 8px !important; font-size: 18px !important;" id="termeni" for="box"> Accept Termenii si conditiile</label>
       </div>
      <div *ngIf="box.errors && box.pristine">
        <div class="alert alert-danger" *ngIf="box.errors.required">Camp obligatoriu!</div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button style="margin-top: 25px;margin-left: 70%;" type="submit" class="btn btn-primary" [disabled]="!userForm.valid" >Submit</button>
      </div>

    </div>
  </form>

</div>
</div>
</div>

<div *ngIf="ok == 3">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="nume" placeholder="Pop Ana" disabled>
        </div>
      </div>

      <div class="form-group">
        <div class="gen">
          <input id ="genFCase3" type="radio"  value ="feminin" checked>
          <label id="fCase3" for="genFCase3">Feminin</label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Adresa:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Mehedinti, nr.12A" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="10/03/1950" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="07875370021" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Cetatenie:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="romana" name="cetatenie" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Motivul inscrierii:</label>
        <div class="col-sm-10">
          <input id="motivCase3" type="text" class="form-control" placeholder="Motivul inscrierii este unul divers" name="motiv" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label" >Data Inscrierii:</label>
            <input id="dataInscrieriiCase3" type="text" class="form-control" placeholder="10/30/2019" disabled>
          </div>
          <div class="col-sm-8" style="margin: 0px;padding: 0px;">
            <label class="control-label" >Inscriere efectuata de:</label>
            <input style="width: 65% !important;" id="efectuareCase3" type="text" class="form-control" placeholder="Vasi Luminita" disabled>
          </div>
        </div>
      </div>

      <label  style="margin-left:9%;" class="control-label" >Alege ONG:</label>
      <select style="margin-left:1%;" (change)="selectChangeHandler1($event)">
        <option>--</option>
        <option value="Asociatia Zambet">Asociatia Zambet</option>
        <option value="Asociatia Inimii">Asociatia Inimii</option>
      </select>

      <div *ngIf="idUser == '1'" class="form-group">
        <div class="row">
          <div style ="margin-left: 33%;"class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onAccept1()">Accept</button>
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onRefuz1()">Refuz</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>

  </div>
</div>


<div *ngIf="ok == 4">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Coman Andrei" disabled>
        </div>
      </div>

      <div class="form-group">
        <div class="gen">
          <input id ="genMCase4" type="radio"  value ="masculin" checked>
          <label id="mCase4" for="genMCase4">Masculin</label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Adresa:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Galaxiei, nr.1, bl.7, ap. 13" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="03/16/1945" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0727837019" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Cetatenie:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="romana" name="cetatenie" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Motivul inscrierii:</label>
        <div class="col-sm-10">
          <input id="motivCase4" type="text" class="form-control" placeholder="Motivul inscrierii este unul neintemeiat." name="motiv" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label" >Data Inscrierii:</label>
            <input id="dataInscrieriiCase4" type="text" class="form-control" placeholder="09/21/2019" disabled>
          </div>
          <div class="col-sm-8" style="margin: 0px;padding: 0px;">
            <label class="control-label" >Inscriere efectuata de:</label>
            <input style="width: 65% !important;" id="efectuareCase4" type="text" class="form-control" placeholder="Ban Maria" disabled>
          </div>
        </div>
      </div>

      <label  style="margin-left:9%;" class="control-label" >Alege ONG:</label>
      <select style="margin-left:1%;" (change)="selectChangeHandler2($event)">
        <option>--</option>
        <option value="Asociatia Zambet">Asociatia Zambet</option>
        <option value="Asociatia Inimii">Asociatia Inimii</option>
      </select>

      <div *ngIf="idUser == '1'" class="form-group">
        <div class="row">
          <div style ="margin-left: 33%;"class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onAccept2()">Accept</button>
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onRefuz2()">Refuz</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>



  </div>
</div>


<div *ngIf="ok == 5">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Popescu Mihai" disabled>
        </div>
      </div>

      <div class="form-group">
        <div class="gen">
          <input id ="genMCase5" type="radio"  value ="masculin" checked>
          <label id="mCase5" for="genMCase5">Masculin</label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Adresa:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Transilvaniei, nr.100" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="07/25/1948" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0790573215" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Cetatenie:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="romana" name="cetatenie" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Motivul inscrierii:</label>
        <div class="col-sm-10">
          <input id="motivCase5" type="text" class="form-control" placeholder="Motivul inscrierii este unul dus la extrem." name="motiv" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label" >Data Inscrierii:</label>
            <input id="dataInscrieriiCase5" type="text" class="form-control" placeholder="10/05/2019" disabled>
          </div>
          <div class="col-sm-8" style="margin: 0px;padding: 0px;">
            <label class="control-label" >Inscriere efectuata de:</label>
            <input style="width: 65% !important;" id="efectuareCase5" type="text" class="form-control" placeholder="Ban Maria" disabled>
          </div>
        </div>
      </div>

      <label  style="margin-left:9%;" class="control-label" >Alege ONG:</label>
      <select style="margin-left:1%;" (change)="selectChangeHandler3($event)">
        <option>--</option>
        <option value="Asociatia Zambet">Asociatia Zambet</option>
        <option value="Asociatia Inimii">Asociatia Inimii</option>
      </select>

      <div *ngIf="idUser == '1'" class="form-group">
        <div class="row">
          <div style ="margin-left: 33%;"class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onAccept3()">Accept</button>
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onRefuz3()">Refuz</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>


    <div *ngIf="ok == 112">
      <div class="container">
        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label" >Nume si Prenume:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="nume" placeholder="Coman Karla" disabled>
            </div>
          </div>

          <div class="form-group">
            <div class="gen">
              <input id ="genMCase5" type="radio"  value ="feminin" checked>
              <label id="mCase5" for="genMCase5">Feminin</label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" >Adresa:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Str. Trandafirilor, nr.100" name="adresa" disabled >
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" >Data nasterii:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="07/25/1948" disabled >
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" >Telefon:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  placeholder="0790573215" name="telefon" disabled >
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" >Cetatenie:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="romana" name="cetatenie" disabled >
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" >Motivul inscrierii:</label>
            <div class="col-sm-10">
              <input id="motivCase5" type="text" class="form-control" placeholder="Motivul inscrierii este unul dus la extrem." name="motiv" disabled >
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label class="control-label" >Data Inscrierii:</label>
                <input id="dataInscrieriiCase5" type="text" class="form-control" placeholder="10/05/2019" disabled>
              </div>
              <div class="col-sm-8" style="margin: 0px;padding: 0px;">
                <label class="control-label" >Inscriere efectuata de:</label>
                <input style="width: 65% !important;" id="efectuareCase5" type="text" class="form-control" placeholder="Ban Maria" disabled>
              </div>
            </div>
          </div>

          <label  style="margin-left:9%;" class="control-label" >Alege ONG:</label>
          <select style="margin-left:1%;" (change)="selectChangeHandler5($event)">
            <option>--</option>
            <option value="Asociatia Zambet">Asociatia Zambet</option>
            <option value="Asociatia Inimii">Asociatia Inimii</option>
          </select>

          <div *ngIf="idUser == '1'" class="form-group">
            <div class="row">
              <div style ="margin-left: 33%;"class="col-sm-4">
                <button type="submit" class="btn btn-primary" (click)="onAccept5()">Accept</button>
              </div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" (click)="onRefuz5()">Refuz</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>


        <div *ngIf="ok == 113">
          <div class="container">
            <form class="form-horizontal">

              <div class="form-group">
                <label class="control-label" >Nume si Prenume:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="nume" placeholder="Petrescu Andrei" disabled>
                </div>
              </div>

              <div class="form-group">
                <div class="gen">
                  <input id ="genMCase5" type="radio"  value ="masculin" checked>
                  <label id="mCase5" for="genMCase5">Masculin</label>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" >Adresa:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Str. Transilvaniei, nr.100" name="adresa" disabled >
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" >Data nasterii:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="07/25/1948" disabled >
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" >Telefon:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder="0790573215" name="telefon" disabled >
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" >Cetatenie:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="romana" name="cetatenie" disabled >
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" >Motivul inscrierii:</label>
                <div class="col-sm-10">
                  <input id="motivCase5" type="text" class="form-control" placeholder="Motivul inscrierii este unul dus la extrem." name="motiv" disabled >
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label class="control-label" >Data Inscrierii:</label>
                    <input id="dataInscrieriiCase5" type="text" class="form-control" placeholder="10/05/2019" disabled>
                  </div>
                  <div class="col-sm-8" style="margin: 0px;padding: 0px;">
                    <label class="control-label" >Inscriere efectuata de:</label>
                    <input style="width: 65% !important;" id="efectuareCase5" type="text" class="form-control" placeholder="Ban Maria" disabled>
                  </div>
                </div>
              </div>

              <label  style="margin-left:9%;" class="control-label" >Alege ONG:</label>
              <select style="margin-left:1%;" (change)="selectChangeHandler6($event)">
                <option>--</option>
                <option value="Asociatia Zambet">Asociatia Zambet</option>
                <option value="Asociatia Inimii">Asociatia Inimii</option>
              </select>

              <div *ngIf="idUser == '1'" class="form-group">
                <div class="row">
                  <div style ="margin-left: 33%;"class="col-sm-4">
                    <button type="submit" class="btn btn-primary" (click)="onAccept6()">Accept</button>
                  </div>
                  <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary" (click)="onRefuz6()">Refuz</button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
                </div>
              </div>
            </form>

  </div>
</div>

<div *ngIf="ok == 114">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Lazar Bogdan" disabled>
        </div>
      </div>

      <div class="form-group">
        <div class="gen">
          <input id ="genMCase5" type="radio"  value ="masculin" checked>
          <label id="mCase5" for="genMCase5">Masculin</label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Adresa:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Transilvaniei, nr.100" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="07/07/1948" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0790573215" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Cetatenie:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="romana" name="cetatenie" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Motivul inscrierii:</label>
        <div class="col-sm-10">
          <input id="motivCase5" type="text" class="form-control" placeholder="batran si nelinistit" name="motiv" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label" >Data Inscrierii:</label>
            <input id="dataInscrieriiCase5" type="text" class="form-control" placeholder="10/05/2019" disabled>
          </div>
          <div class="col-sm-8" style="margin: 0px;padding: 0px;">
            <label class="control-label" >Inscriere efectuata de:</label>
            <input style="width: 65% !important;" id="efectuareCase5" type="text" class="form-control" placeholder="Baidoc Amalia" disabled>
          </div>
        </div>
      </div>

      <label  style="margin-left:9%;" class="control-label" >Alege ONG:</label>
      <select style="margin-left:1%;" (change)="selectChangeHandler7($event)">
        <option>--</option>
        <option value="Asociatia Zambet">Asociatia Zambet</option>
        <option value="Asociatia Inimii">Asociatia Inimii</option>
      </select>

      <div *ngIf="idUser == '1'" class="form-group">
        <div class="row">
          <div style ="margin-left: 33%;"class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onAccept7()">Accept</button>
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onRefuz7()">Refuz</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>

  </div>
</div>







<!--//////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////MAGIC BTN//////////////////////////////-->
<button style="color: transparent; background-color: transparent;"(click)="notificationFunc()">HEI</button>


<div *ngIf="ok == 6">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="Manolescu Andra" disabled>
        </div>
      </div>

      <div class="form-group">
        <div class="gen">
          <input id ="genFCase6" type="radio"  value ="feminin" checked>
          <label id="fCase6" for="genFCase6">Feminin</label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Adresa:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Str. Plopilor, nr.2, bl.14, sc.2, ap. 25" name="adresa" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="02/14/1943" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="0765342829" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Cetatenie:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="romana" name="cetatenie" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Motivul inscrierii:</label>
        <div class="col-sm-10">
          <input id="motivCase6" type="text" class="form-control" placeholder="Motivul inscrierii este unul dus la extrem." name="motiv" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label" >Data Inscrierii:</label>
            <input id="dataInscrieriiCase6" type="text" class="form-control" placeholder="08/29/2019" disabled>
          </div>
          <div class="col-sm-8" style="margin: 0px;padding: 0px;">
            <label class="control-label" >Inscriere efectuata de:</label>
            <input style="width: 65% !important;" id="efectuareCase6" type="text" class="form-control" placeholder="Vasi Luminita" disabled>
          </div>
        </div>
      </div>

      <label  style="margin-left:9%;" class="control-label" >Alege ONG:</label>
      <select style="margin-left:1%;" (change)="selectChangeHandler4($event)">
        <option>--</option>
        <option value="Asociatia Zambet">Asociatia Zambet</option>
        <option value="Asociatia Inimii">Asociatia Inimii</option>
      </select>

      <div *ngIf="idUser == '1'" class="form-group">
        <div class="row">
          <div style ="margin-left: 33%;"class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onAccept4()">Accept</button>
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary" (click)="onRefuz4()">Refuz</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 49%;" type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>



  </div>
</div>

<div *ngIf="ok == 7">
  <div class="container">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="control-label" >Nume si Prenume:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nume" placeholder="{{result.nume}} {{result.firstName}}" disabled>
        </div>
      </div>

      <div class="form-group">
        <div class="gen" *ngIf="result.feminin" >
          <input id ="genFCase7" type="radio"  value ="feminin" checked>
          <label id="fCase7" for="genFCase7">Feminin</label>
        </div>
        <div class="gen" *ngIf="result.masculin">
          <input id ="genMCase7" type="radio"  value ="masculin" checked>
          <label id="MCase7" for="genMCase7">Masculin</label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Adresa:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="{{result.adresa}}" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Data nasterii:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="{{result.data}}" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Telefon:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="{{result.telefon}}" name="telefon" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Cetatenie:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="{{result.cetatenie}}" name="cetatenie" disabled >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" >Motivul inscrierii:</label>
        <div class="col-sm-10">
          <input id="motivCase7" type="text" class="form-control" placeholder="{{result.motiv}}" name="motiv" disabled >
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label" >Data Inscrierii:</label>
            <input id="dataInscrieriiCase7" type="text" class="form-control" placeholder="{{result.inscriere}}" disabled>
          </div>
          <div class="col-sm-8" style="margin: 0px;padding: 0px;">
            <label class="control-label" >Inscriere efectuata de:</label>
            <input style="width: 65% !important;" id="efectuareCase7" type="text" class="form-control" placeholder="{{result.efectuare}}" disabled>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button style="margin-top: 25px;margin-left: 70%;" type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </div>

      </div>
    </form>
  </div>
</div>
